:root {
  --standard-font-size: 13.4px
}
svg {
  font-size: var(--standard-font-size);
}

.production .hide {
  visibility: hidden;
}

/* Hide a node, intended for development purposes only. Such as to view a
 *  potentially overlapping callout.
 */
.hide-quick {
  visibility: hidden;
}

/* Both `.hide` and `.hide text` share all each others properties and values.
 *  This is due to a design choice early on where the `.hide` class was applied
 *  to the `text` element of the callout. However, as `paths` were added to
 *  callouts and since we should only use `.hide` once per callout, we ended up
 *  with these to similar styles. This maintains backwards compatibility with
 *  the placement of the `.hide` class at the `text` element on existing
 *  callouts.
 */
.hide {
  opacity: 1 !important;
  fill-opacity: 0.7 !important;
  fill: red !important;
}

/* Shares all properties and values with `.hide`. This style should be placed at
 *  the top-most node of a callout. See `.hide` for more info.
 */
.hide text {
  opacity: 1 !important;
  fill-opacity: 0.7 !important;
  fill: red !important;
}

.hide path {
  stroke: red !important;
}

.development_notice {
  fill: red !important;
  font-size: 2em !important;
}

.callout.small {
  font-size: 0.85em;
}

.callout.extra-small {
  font-size: 0.75em;
}

.callout.regular {
  font-size: 1em;
}

.anchor-left {
  text-anchor: start;
}

.anchor-middle {
  text-anchor: middle;
}

.anchor-right {
  text-anchor: end;
}

.callout.medium-regular {
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.callout.medium {
  font-size: 1.4em;
  letter-spacing: 2px;
}

.callout.large {
  font-size: 1.8em;
  letter-spacing: 2px;
}

.night .callout {
  fill: #c9ffb8;
}

.callout {
  opacity: 0.8;
  font-family: Calibri;
  fill: #ffffff;
  fill-opacity: 1;
  paint-order: stroke;
  stroke: #000000;
  stroke-width: 4px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.tell_night {
  font-size: calc(var(--standard-font-size) * 0.95)
}
