.development_notice {
  fill: red !important;
  font-size: 2em !important;
}

svg {
  font-size: 12.2px;
}

.hide {
  visibility: hidden;
}

.callout.small {
  font-size: 0.85em;
}

.callout.regular {
  font-size: 1em;
}

.callout.medium {
  font-size: 1.8em;
  letter-spacing: 2px;
}

.night .callout {
  fill: #c9ffb8;
}

.callout {
  opacity: 0.8;
  font-family: Calibri;
  fill: #ffffff;
  fill-opacity: 1;
  paint-order: stroke;
  stroke: #000000;
  stroke-width: 4px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}
